@font-face {
  font-family: "TestMartinaPlantijn-Regular";
  src: url("./assets/fonts/TestMartinaPlantijn-Regular-BF663c36d1ec6d5.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABCArizonaFlareVariable-Trial";
  src: url("./assets/fonts/ABCArizonaFlareVariable-Trial.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mallory-Book";
  src: url("./assets/fonts/Mallory-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TestMartinaPlantijn-Regular", sans-serif;
}

.font-abc-arizona-flare-variable {
  font-family: "ABCArizonaFlareVariable-Trial", sans-serif;
}

.font-mallory-trial {
  font-family: "Mallory-Book";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
