@font-face {
  font-family: "ABCArizonaFlare";
  src: url("./assets/fonts/ABCArizonaFlareVariable-Trial.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ABCArizonaFlare", sans-serif;
}
